.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.project .project__title {
  text-transform: uppercase;
  font-size: 2rem;
}
.project .project__details {
  font-size: 1.2rem;
}
.project .project__image {
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.project__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project .users {
  margin-top: 23px;
}
.project .avatar {
  margin-left: -7px;
  width: 50px;
  height: 50px;
}
.project__task {
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px #f7f6f4;
}
.project__task-list:last-of-type {
  margin-bottom: 0;
}
.task__high {
  background: #ff7782;
}
.task__medium {
  background: #ffbb55;
}
.task__low {
  background: #717eee;
}
.task__name {
  font-size: 1.2rem;
}
.task_user .avatar {
  width: 30px;
  height: 30px;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tags {
  margin-bottom: 10px;
  display: flex;
}
.tags li {
  margin-right: 10px;
}
.project__comments h3,
.project__tasks-list h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.project h3 small {
  font-size: 12px;
  text-transform: none;
  color: #5f6365;
  margin-left: 10px;
}
.project__comments ul {
  margin-bottom: 30px;
}
.project__comments li {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px #f7f6f4;
  width: fit-content;
}
.project__comments label {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 7px;
  box-shadow: 5px 5px 15px #f7f6f4;
}
.project__comments textarea {
  flex: 1;
  resize: none;
  border: none;
  outline: none;
  height: 100%;
  padding: 0 10px;
}
.comment {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 10px;
}
.comment .avatar {
  width: 35px;
  height: 35px;
}
.comment__author {
  display: flex;
  align-items: center;
}
.comment__author p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-right: 5px;
}
.comment__time {
  font-size: 10px;
  color: #cecfd7;
}
.send {
  background: #fd7b38;
  display: block;
  height: 100%;
  padding: 5px;
  border-radius: 0 7px 7px 0;
  outline-color: #fd8b51;
}
.send svg {
  stroke: #fff;
}

/* dark mode */
.project__comments.dark li,
.project__comments.dark label,
.project__comments.dark textarea {
  background: #5f6365;
  color: #fff;
  box-shadow: none;
}
.project__comments.dark .comment__time {
  color: #e3e4e4;
}
.send.dark {
  background: #fd413c;
  outline-color: #fd413c;
}
.project__task.dark {
  box-shadow: none;
}

@media (max-width: 900px) {
  .project {
    grid-template-columns: 1fr;
  }
  .project__comments {
    margin-bottom: 10px;
  }
}
