.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #F7F6F4;
}
.avatar.dark {
  background: #4B5563;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}