header {
  height: 7vh;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  margin-bottom: 20px;
}
form.search {
  margin-right: auto;
  background: #F7F6F4;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
form.search.dark {
  background: #5F6365;
}
form.search input {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  background: none;
}
form.search.dark input,
form.search.dark input::placeholder {
  color: #E3E4E4;
}
.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
}
.notification {
  margin: 0 20px;
  padding: 8px 10px;
  border-radius: 4px;
  display: flex;
  background: none;
}
.notification.dark svg {
  stroke: #5F6365;
}