.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.project-list ul {
  list-style: none;
}
.project-list .avatar {
  width: 30px;
  height: 30px;
}
.card {
  display: block;
  text-decoration: none;
  color: #4B5563;
  background: #fff;
  padding: 10px;
  border-radius: 1rem;
}
.card .assigned-to {
  display: flex;
  justify-content: space-between;
}
.card .users {
  display: flex;
}
.card .avatar {
 margin-left: -7px;
 width: 30px;
 height: 30px;
}