.project__list ul {
  list-style: none;
}
.project__image {
  width: 100%;
  height: 250px;
  /* object-fit: cover; */
  border-radius: 10px 10px 0 0;
}
/* .project-redirect a {
  color: #FD7B38;
}
.project-redirect.dark a {
  color: #FD413C;
} */
.project__list .card-body {
  padding: 15px;
}
.project__title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.project__details {
  color: #4B5563;
}
.project__list .assigned-to {
  display: flex;
  justify-content: space-between;
}
.project__list .users,
.project__list .list {
  display: flex;
  align-items: center;
}
.project__list .avatar {
 margin-left: -7px;
 width: 30px;
 height: 30px;
}