.project__list ul,
.project ul {
  list-style: none;
}
.project__list .project__image,
.project .project__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
/* .project-redirect a {
  color: #FD7B38;
}
.project-redirect.dark a {
  color: #FD413C;
} */
.project__list .card-body,
.project .card-body {
  padding: 15px;
}
.project__title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.project__details {
  margin-bottom: 13px;
}
.project__details,
.project__list .list small {
  color: #4B5563;
}
.project__details,
.project__list .list small,
.project .list small {
  color: #4B5563;
}
.category {
  display: inline-block;
  margin: 2px 0;
  padding: 5px 15px;
  background: #fff;
  border: none;
  border-radius: 7px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
.category.website,
.category.uiux {
  background: #EDF1FF;
  color:#2C5BFF;
}
.category.ios,
.category.marketing {
  color:#FD7B38;
  background: #FFF3ED;
}
.category.branding,
.category.sales {
  color: #7078BA;
  background:#D7DBFD;
}
.category.andriod {
  color: #60B158;
  background:#E7F4E6;
}
.project__list svg,
.project svg {
  stroke: #4B5563;
  stroke-opacity: 0.8;
  margin-left: 5px;
}
.project__list .assigned-to,
.project .assigned-to {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}
.project__list .users,
.project__list .list,
.project .users,
.project .list {
  display: flex;
  align-items: center;
}
.project__list .avatar,
.project .avatar {
 margin-left: -7px;
 width: 30px;
 height: 30px;
}

/* dark */
.project__list.dark .list small,
.project.dark .list small {
  color: #fff;
}
.project__list.dark .project__details,
.project.dark .project__details {
  color: #F7F6F4;
}
.project__list.dark small,
.project.dark small {
  color: #F7F6F4;
}
.project__list.dark svg,
.project.dark svg {
  stroke: #F7F6F4;
}
.category.dark.website,
.category.dark.uiux {
  color:#2C5BFF;
  background: #273647;
}
.category.dark.ios,
.category.dark.marketing {
  color:#F7423D;
  background: #403034;
}
.category.dark.branding,
.category.dark.sales {
  color: #CD9D2D;
  background:#403D32;
}
.category.dark.andriod {
  color: #60B158;
  background:#313C37;
}