.sidebar {
  min-height: 100%;
  text-align: center;
  padding: 0;
}
.logo {
  margin: 30px 0;
}
.logo svg {
  width: 80px;
}
.logo.dark svg {
  stroke: #E3E4E4;
}
.navigation-links li {
  list-style: none;
  margin-bottom: 20px;
} 
.navigation-links svg {
  margin-right: 10px;
}
.navigation-links.dark svg {
  stroke: #E3E4E4;
}
.navigation-links a.active svg {
  stroke: #FD8B51;
}
.navigation-links.dark a.active svg {
  stroke: #F7423D;
}
.navigation-links a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-right: 4px solid none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.navigation-links.dark a {
  color: #E3E4E4;
}
.navigation-links a.active {
  color: #FD8B51;
  background: linear-gradient(to right, #FFFCFA, #FFF3EA);
  border-right: 4px solid #FD8B51;
}
.navigation-links.dark a.active {
  color: #F7423D;
  background: linear-gradient(to right, #3E3633, #5F6365);
  border-color: #F7423D;
}