.project__card {
  display: block;
  text-decoration: none;
  color: #25283b;
  background: #fff;
  border-radius: 1rem;
  border: 1px solid #fff;
  margin-bottom: 30px;
  box-shadow: 5px 5px 15px #f7f6f4;
}
.project__card.dark {
  background: #2b2f33;
  color: #fff;
  border-color: #2b2f33;
  box-shadow: none;
}
.project__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.project__grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3.project__status {
  margin-bottom: 15px;
}
h3.project__status span {
  display: inline-block;
  color: #4b5563;
  font-weight: 500;
  font-size: 0.9rem;
  margin-left: 10px;
}
.project__status.dark span {
  color: #f7f6f4;
}

/* media query */
@media (max-width: 1200px) {
  .project__grid {
    gap: 15px;
  }
  .project__card {
    margin-bottom: 15px;
  }
}
@media (max-width: 1000px) {
  .project__grid {
    display: block;
  }
  .project__card {
    margin-bottom: 15px;
  }
}
