.project__card {
  display: block;
  text-decoration: none;
  color: #25283B;
  background: #fff;
  border-radius: 1rem;
  border: 1px solid #fff;
  margin-bottom: 30px;
}
.project__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.project__grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.project__status span {
  display: inline-block;
  color: #4b5563;
  font-weight: 500;
  font-size: 0.9rem;
  margin-left: 10px;
}