.App {
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 30px;
}
.App.dark {
  background: #212529;
  color: #E3E4E4;

}
button {
  cursor: pointer;
  background: none;
  border: none;
}
header,
.sidebar {
  background: #fff;
  padding: 15px;
  border-radius: 0.5rem;
}
header.dark,
.sidebar.dark {
  background: #2B2F33;
  color: #E3E4E4;
}
