.App {
  color: #4B5563;
  background: #F7F6F4;
  min-height: 100vh;
  width: 100%;
  max-width: 2200px;
  margin: 0 auto;
  padding: 20px;
  /* display: grid;
  grid-template-columns: 220px 1fr; */
  gap: 30px;
  display: flex;
}
.App.dark {
  background: #212529;
  color: #E3E4E4;

}
.content {
  width: 100%;
}

/* __________global styles__________ */
button {
  cursor: pointer;
  background: none;
  border: none;
}
.page-title {
  font-size: 1.3rem;
  color: #4B5563;
  display: inline-block;
}
.page-title.dark {
  color: #E3E4E4;
}
header,
.sidebar {
  background: #fff;
  border-radius: 0.5rem;
}
header.dark,
.sidebar.dark {
  background: #2B2F33;
  color: #E3E4E4;
}
.btn {
  background: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  color: #FD7B38;
  cursor: pointer;
  font-size: 1em;
  border: 2px solid #FD7B38;
}
.btn.dark {
  background: #2B2F33;
  padding: 5px 10px;
  border-radius: 4px;
  color: #FD413C;
  cursor: pointer;
  font-size: 1em;
  border: 2px solid #FD413C;
}
.btn:hover {
  color: #fff;
  background-color: #FD7B38;
}
.btn.dark:hover {
  color: #fff;
  background-color: #FD413C;
}
.account {
  margin-top: 30px;
}
.account p {
  border-bottom: 1px solid #E3E4E4;
  padding-bottom: 3px;
  margin-bottom: 10px;
}
.account a {
  color: #FD7B38;
}
.account.dark p {
  border-bottom: 1px solid #5F6365;
}
.account.dark a {
  color: #FD413C;
}
