@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.msg,
.status {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  border: 3px solid #fff;
}
.error,
.high {
  color: #F7423D;
  background: #FFF3EA;
  border-color: #F7423D;
}
.success,
.completed {
  color: #60B158;
  background: #E7F4E6;
  border-color: #60B158;
}
.warning,
.medium {
  color: #FD8B51;
  background: #FFF3EA;
  border-color: #FD8B51;
}
.w-6 {
  width: 23px;
}
.w-4 {
  width: 17px;
}