.project__tasks {
  color: #444858;
  stroke: #444858;
  text-decoration: none;
}
.project__tasks a {
  color: #444858;
  text-decoration: none;
}
.project__tasks .h3 {
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #F7F6F4;
  box-shadow: 5px 5px 15px #F7F6F4;
  margin-top: 20px;
  text-transform: uppercase;
  border-radius: 7px 7px 0 0;
}
.project__tasks .avatar {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
svg.true {
  fill: #60B158;
  stroke: #fff;
}
.thead {
  color: #9C9FAD;
  font-weight: 500;
  border-radius: 10px;
}
.thead, 
.td {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 5px 5px 15px #F7F6F4;
  background: #fff;
}
.thead > div:first-of-type, 
.td > div:first-of-type{
  /* grid-column: 1/4; */
  width: 450px;
}
.thead > div,
.td > * {
  border-right: 1px solid #F7F6F4;
  border-bottom: 1px solid #F7F6F4;
  padding: 5px 0 5px 15px;
}
.thead > div {
  padding: 15px;
}
.thead > div:last-of-type ,
.task__duedate:last-of-type {
  border-right-color: transparent;
}
.task__title {
  border-left: 4px solid #9C9FAD;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.task__title-high {
  border-left-color: #F7423D;
}
.task__title-medium {
  border-left-color: #FD8B51;
}
.task__title-low {
  border-left-color: #E25AB4;
}
.task__title svg {
  margin: 0 10px 0 5px;
}
.task_tag {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #F7F6F4;
  border-radius: 5px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.html,
.javascript,
.firebase {
  color: #FFBB55;
  border-color: #FFBB55;
}
.css,
.react,
.python,
.photoshop,
.native {
  color: #45BFFF;
  border-color: #45BFFF;
}
.vue,
.node,
.tailwind {
  color: #60B158;
  border-color: #60B158;
}
.xd,
.figma,
.php,
.bootstrap,
.flutter,
.scss {
  color: #717EEE;
  border-color: #717EEE;
}
.task__user {
  text-transform: capitalize;
  margin-bottom: 5px;
}
.task__user,
.task__duedate,
.task__tag {
  display: flex;
  align-items: center;
}

/* dark mode */
.project__tasks.dark,
.project__tasks.dark .td {
  color: #ABADAE;
  stroke: #ABADAE;
}
.project__tasks.dark .h3,
.project__tasks.dark .thead,
.project__tasks.dark .td {
  background: #2B2F33;
  box-shadow: none;
}
.project__tasks.dark .thead > div,
.project__tasks.dark .td > *,
.project__tasks.dark .h3 {
  border-color: #32363B;
}

@media (max-width: 1200px) {
  .thead {
    display: none;
  }
  .td {
    grid-template-columns: 1fr;
  }
  .task__title {
    width: 100%;
  }
}